<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
	<div class="container" align="center">
		<div class="card mt-5" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">DATA SUCCESSFULLY ADDED</h5>
		    <h6 class="card-subtitle mb-2 text-muted">data rfid</h6>
		    <p class="card-text">data baru telah berhasil di masukan, dengan <br> <b>nim : {{ nim }}</b> </p>
		    <div class="text-center">
		    	<a href="/api/rfid" class="btn btn-primary">ADD NEW CARD</a>
		    </div>
		</div>
	</div>
	</div>
</body>
</html>