<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="content">
        <div class="profile">
            <img class="img-fluid img-mhs"src="https://siakad.unida.gontor.ac.id/simak-mastermahasiswa/get-foto?nim=3820176110344" alt="IMG">
            <div class="biodata">
                <h1 class="name">Muhammad Khoironi Subagio</h1>
                <hr>
                <table class="table">
                    <tr>
                        <td><h3>NIM</h3></td>
                        <td><h3> : </h3></td>
                        <td><h3>3820176110346</h3></td>
                    </tr>
                    <tr>
                        <td>
                            <h3>PROGRAM STUDI</h3>
                        </td>
                        <td>
                            <h3> : </h3>
                        </td>
                        <td>
                            <h3>TEKNIK INFORMATIKA</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>SEMESTER</h3>
                        </td>
                        <td>
                            <h3> : </h3>
                        </td>
                        <td>
                            <h3>7</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>WAKTU</h3>
                        </td>
                        <td>
                            <h3> : </h3>
                        </td>
                        <td>
                            <h3> 2020 10 11 10:49:22</h3>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>
</html>