.jumbotron{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    padding-top: 250px;
    background-image: url('../images/4332827.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.cover{
    background-color: white;
    padding: 50px 50px 50px 150px;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575);
}
.cicle{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    /* top: -160px; */
    left: -100px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.424);
}
.cicle>img{
    height: 150px;
    width: 100px;
}
.footer{
    margin-top: 20px;
}